<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Redis</title>
</head>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
  </ul>
</nav>
<body>
  <h1>Search the user by ID</h1>
  <form action="/auth/login" method="post">
    <input type="text" name="google_id" placeholder="Enter ID">
    <input type="submit" value="Find">
  </form>
</body>
</html>
